# installer selenium
conda install -c conda-forge selenium
# installer webdrier-manager
conda install -c conda-forge webdriver-manager

Installer driver pour navigateur web:

Chrome:	https://sites.google.com/a/chromium.org/chromedriver/downloads
Edge:	https://developer.microsoft.com/en-us/microsoft-edge/tools/webdriver/
Firefox:https://github.com/mozilla/geckodriver/releases
Safari:	https://webkit.org/blog/6900/webdriver-support-in-safari-10/
